<a href="https://colab.research.google.com/github/M-S-Dhanushkumar/Python_101/blob/main/Assignment2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
name = input('Name: ')
age = int(input('Age: '))
print("Hello ", name , "you are " , age , "years old." )

Name: dhanush
Age: 24
Hello  dhanush you are  24 years old.

In [3]:
name = input('Name: ')
age = int(input('Age: '))
print(f"Hello! {name} you are {age} years old." )

Name: Dhanush
Age: 24
Hello Dhanush you are 24 years old.

In [5]:
C = float(input("Temperature in Celsius: "))
F = C * 1.8 + 32
print("Your temperature is", F)

Temperature in Celsius: 35.7
Your temperature is 96.26

In [7]:
Rad = float(input("Radius: "))
pie = 3.14
Area = pie * Rad**2
print(f"Area of the circle: {Area}")

Radius: 2
Area of the circle: 12.56

In [10]:
string = input("Word: ")
list = string[::-1]
print(f"the string in reverse order: {list}")

Word: Thamizh
the string in reverse order: hzimahT

In [16]:
Number = int(input('Number: '))
Expo = int(input('Exponential: '))
x = Number ** Expo
print(f"number of power of the result-> {x}")

Number: 3
Exponential: 5
number of power of the result-> 243